<div class="row">
    <div class="col-md-3">
        <span class="hipster img-fluid rounded"></span>
    </div>

    <div class="col-md-9">
        <h1 class="display-4">Welcome to your Bank Account</h1>

        <p class="lead">How much would you like to deposit?</p>

        <!--div [ngSwitch]="isAuthenticated()" -->
            <form class="block"  [formGroup]="formGroup" >
                <label id="bank-deposit-label" for="bank-deposit-input">Please set the amount to deposit
                    <input type="number" id="bank-deposit-input" formControlName="depositAmount"/>
                </label>
                <button type="submit" class="btn-primary" [disabled]="!formGroup.valid" (click)="deposit()">GO</button>
            </form>

            <div class="alert alert-warning" *ngIf="depositAmountvalue">
                <span>{{ messageToDisplay }}{{ depositAmountvalue | number :'0.2-2' }}</span>
            </div>

        <!--/div-->
    </div>
</div>

