<div>
    <p class="lead">{{wording.title}}</p>

    <form class="block"  [formGroup]="formGroup" >
        <label class="col-form-label" for="bank-input">{{wording.inputLabel}}</label>


        <input type="number" id="bank-input" formControlName="amount"/>
        <button type="submit" class="btn-primary" [disabled]="!formGroup.valid" (click)="run()">{{wording.submitButton}}</button>
    </form>
    <ng-container [ngSwitch]="state">
        <div class="alert alert-info" *ngSwitchCase="States.LOADING">{{wording.loadingMessage}}</div>
        <div class="alert alert-success" *ngSwitchCase="States.SUCCESS">
            <span>{{wording.successMessagePrefix}}{{ amount | number :'0.2-2' }}{{wording.successMessageSuffix}}</span>
        </div>
        <div class="alert alert-danger" *ngSwitchCase="States.ERROR">
            <span>{{wording.errorMessagePrefix}}{{ amount | number :'0.2-2' }}{{wording.errorMessageSuffix}}</span>
        </div>
    </ng-container>
</div>
