<p class="row h2">Please find the list of your statements:</p>
<span *ngIf="!data">Content of your operations are currently loading</span>
<span *ngIf="data && !data.length">You have no operations on your account</span>
<table *ngIf="data && data.length" class="table">
    <caption>Latest operations on your account</caption>
    <thead>
    <tr>
        <th id="table-operation-id-header">#</th>
        <th id="table-operation-amount-header">Amount</th>
        <th id="table-operation-date-header">Date</th>
        <th id="table-operation-creator-header">Created by</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let statement of data">
        <th scope="row">{{statement.id }}</th>
        <td>{{(statement.type===StatementType.WITHDRAW?-1:1)*statement.amount | number: "2.2"}} $</td>
        <td>{{ statement.createdDate | date }}</td>
        <td>{{ statement.createdBy }}</td>
    </tr>
    </tbody>
</table>
